body{
  background: #EAEBF0;
}

#main-region{
  border: 1px solid #C5CDEC;
  padding: 40px;
  background:#ffffff;
}
.current-measurement{
  margin-bottom:30px;
  text-align: center;
}
.current-measurement h1{
  font-weight: normal;
}
.current-measurement h2#clock{
  font-size: 90px;
  font-weight: 100;
  margin-bottom: 30px;
}

.current-measurement #clock-button .active{
  background:red;
}

.new-measurement{
  margin-top:30px;
}

.recent-tasks{
}
.recent-tasks h3{
  text-align: center;
}

.recent-tasks table tbody tr td{
  border-top:none;
}

form #new-measurement-submit{
  visibility: hidden;
}


nav.main-navigation{
  margin:20px 0;
  text-align:right;
}
nav.main-navigation a{
  margin-left:20px;
  color: #4A5763;
}

.timesheet .sidebar{
  margin-top:80px;
}

.timesheet .task{
  cursor:pointer;
}

.timesheet .task span{
  color:#777;
  font-size:11px;
}


.timesheet .current-task{
  border-left:1px solid #eee;
}