<div ng-controller="TimesheetController as timesheet" class="timesheet">
  <div class="row">
    <div class="col-md-4 sidebar">
      <div ng-repeat="task in tasks">
        <div ng-click="setCurrentTask(task)" class="task">
          <h3>{{task.name}}</h3>
          <span><strong>Total Time:</strong> {{totalTime(task) | duration}}</span>
          <br/>
          <span><strong>Time Today:</strong> {{totalTimeToday(task) | duration}}</span>
          <br/>
          <span ng-model="toRemove" ng-click="toRemove = true" ng-hide="toRemove" class="glyphicon glyphicon-trash pull-right"></span>
          <div class="btn-toolbar">
            <a ng-show="toRemove" ng-click="toRemove = false" class="btn btn-default btn-xs pull-right">Cancel</a>
            <a ng-show="toRemove" ng-click="removeTask(task)" class="btn btn-danger btn-xs pull-right">Remove</a>
          </div>
          <br/>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-md-8 current-task">
      <div class="title">
        <h1 ng-hide="editingTaskName" ng-click="editingTaskName = true">{{currentTask.name}}</h1>
        <form ng-show="editingTaskName" ng-submit="editingTaskName = false" class="form-inline" style="margin:0;">
          <input type="text" ng-model="currentTask.name" placeholder="Name of the task" class="form-control input-lg" ng-required/>
          <button class="btn btn-success btn-lg" type="submit">OK</button>
        </form>
      </div>
      <div ng-repeat="(key, items) in measurementsByDate" class="measurement-dates">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <span class="date-number">{{key | date : 'd' }}</span>
              <span class="date-extra">{{key | date : 'MMM y' }}</span>
            </h3>
          </div>
        </div>
        <div class="row">
          <!--
          <div class="col-md-2">
            <dl>
              <dt>5</dt>
              <dd>Hours</dd>
              <dd class="icon"><span class="glyphicon glyphicon-time"></dd>
            </dl>
          </div>
          -->
          <div class="col-md-6">
            <div ng-repeat="item in items" class="measurements">
              <div class="measurement">
                <div class="row">
                  <div class="col-md-4">
                    <strong>{{item.start_date | date : 'h:mm'}}</strong>
                    <span class="time-period">{{item.start_date | date : 'a'}}</span>
                  </div>
                  <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-right">
                  </div>
                  <div class="col-md-4">
                    <strong>{{item.end_date | date : 'h:mm'}}</strong>
                    <span class="time-period">{{item.end_date | date : 'a'}}</span>
                  </div>
                  <div class="col-md-3">
                    <!--Edit/Remove/etc-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>